version: '3.8'

services:
  web:
    build: .

    ports:
      - "5001:5001"
   
    volumes:
      - .:/app
      - db_data:/app/instance
      - ./app/uploads:/app/app/uploads   
    environment:
      - FLASK_APP=main.py
volumes:
  db_data:
  upload_data:
