{% extends "profile_base.html" %}

{% block profile_content %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h3>Персональные данные</h3>
        <div>
            <!-- Иконка редактирования -->
            <a href="{{ url_for('edit_profile') }}" title="Редактировать" style="font-size: 1.5rem; margin-right: 15px;">
                <i class="bi bi-pencil-square"></i>
            </a>
            <!-- Иконка выхода -->
            <a href="{{ url_for('logout') }}" title="Выйти из аккаунта" style="font-size: 1.5rem; color: #dc3545;">
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </div>
    </div>
    <hr>
    
    <div class="profile-details">
        <p><strong>Имя пользователя:</strong> {{ current_user.username }}</p>
        {% if current_user.role == 'user' %}
            <p><strong>Адрес доставки:</strong> {{ current_user.customer_profile.shipping_address or 'Не указан' }}</p>
        {% elif current_user.role == 'manufacturer' %}
            <p><strong>Название компании:</strong> {{ current_user.manufacturer_profile.company_name }}</p>
            <p><strong>Адрес компании:</strong> {{ current_user.manufacturer_profile.company_address or 'Не указан' }}</p>
        {% endif %}
    </div>

{% endblock %}