{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h1>Регистрация</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class="form-label") }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red; font-size: 0.9em;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class="form-label") }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red; font-size: 0.9em;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label(class="form-label") }}<br>
            {{ form.password2(size=32) }}
            {% for error in form.password2.errors %}
            <span style="color: red; font-size: 0.9em;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <p class="form-link">Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите!</a></p>
</div>
{% endblock %}